#mywebsite section{
    width: auto;
    font-family:'Arial Narrow Bold', sans-serif;
}

#landing{
    background-image:  url("/img/landing-img.jpg");
    background-size: cover;
    background-position: center;
    height: 99vh;
    width: auto;
    display: grid;
    place-content: center;
    color: white;
    text-shadow: 1px 2px black;
}

#landing h1{
    padding-top: 25%;
    margin: -2%;
    font-size: 50px;
}

#landing p {
    padding-top: 1%;
    padding-bottom: 25%;
    font-size: 20px;
    text-align: center;
}